version: "3.9"  # optional since v1.27.0
services:
  web:
    build: 
      context: .
      dockerfile: ./Dockerfile
    image: eendorsement-auth-api:1.0
    ports:
      - "80:9000"
    volumes: ['./:/apps']
    working_dir: /apps
    restart: always
    networks:
      - eendorsement
networks:
  eendorsement: